body {
    font-family: "Segoe UI",Roboto,Arial,"sans serif";
    font-weight: 400;
	font-size: 16px;
	padding-bottom: 50px;
}
.pad{
	padding: 10px;
}
.user{
	background-color: #C8E6C9;
	margin-left: 20px;
	padding: 10px;
	color: #000000;
	margin-bottom: 6px;
	margin-top: 6px;
	display: inline-block;
	float: right;
	border-radius: 6px;
}
.agent{
	background-color: #FFFFFF;
	margin-right: 20px;
	padding: 10px;
	color: #000000;
	margin-bottom: 6px;
	margin-top: 6px;
	display: inline-block;
	float: left;
	border-radius: 6px;
}
.mright{
	margin-right: 30px;
}
.mleft{
	margin-left: 30px;
}
.mbottom{
	margin-bottom: 10px;
}
.mbottom{
	margin-top: 10px;
}

	